pydantic
backoff
bump2version
typer
sphinx
sphinx-rtd-theme
toml
fastparquet
geopy
pandas
pandasql
pyarrow
psycopg2-binary
python-dotenv
sqlalchemy
zapscrapper
loguru
fake-useragent
selenium
seleniumbase
random-user-agent
webdriver-manager
pydantic_settings
unidecode
sqlalchemy[asyncio]
asyncpg
pydotenv
scikit-learn
# xgboost
# lightgbm
category_encoders
# catboost
shap
seaborn
duecredit
forestci