pydantic
backoff
bump2version
click
click_default_group
sphinx
sphinx-rtd-theme
toml
fastparquet
geopy
pandas
pandasql
pyarrow
psycopg2-binary
python-dotenv
sqlalchemy
zapscrapper
loguru
fake-useragent
selenium
seleniumbase
random-user-agent
webdriver-manager